<!DOCTYPE html>
<head>
    <title>Enter Score</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style_gpa.css')}}">
</head>
<body>
<form action="{{ url_for('result') }}">
    <input type="text" name="year" value="{{level}}" hidden></input>
    <h1>Enter Score</h1>
    <table border="black" class="score">
        <tr>
            <th>Subject</th>
            <th>Score</th>
        </tr>
        {% for subj in all_subjs %}
        <input type="text" name="subject" value="{{subj[0]}}" hidden></input>
        <tr>
            <td>{{subj[0]}}</td>
            <td><input type="number" name="grade" value="{{subj[-1]}}"></td>
        </tr>
        {%endfor%}
    </table>

    {% for subj in hums_subjs %}
    <input type="text" name="opt_hum_subj" value="{{subj}}" hidden>
    {%endfor%}

    {% for subj in sci_subjs %}
    <input type="text" name="opt_sci_subj" value="{{subj}}" hidden>
    {%endfor%}

    <table class="submit">
        <tr>
            {% if level in "12" %}
            <td width=50%><a href="{{ url_for('index')}}">Back</a></td>
            {% else %}
            <td width=50%><a href="{{ url_for('opt_subjs', compul_subjs=compul_subjs, opt_sci_subjs=opt_sci_subjs, opt_hums_subjs=opt_hums_subjs, year=level)}}">Back</a></td>
            {% endif %}
            <td><button type="submit" class="right">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>